{% set level = level|default("1") %}

{% set heading_classes = [
  'heading',
  'heading-' ~ level
] %}

{% if classes %}
  {% set heading_classes = heading_classes|merge(classes) %}
{% endif %}

<div 
  data-component-id="sb_bazo:heading">
  <h{{level}} class="{% for class in heading_classes %} {{ class }}{% endfor %}">
    {% block heading_content %}
      {% if heading_content %}
        {{heading_content}}
      {% else %}
        {{heading_text|default("Sample Heading")}}
      {% endif %}
    {% endblock %}
  </h{{level}}>
</div>
